#root {
  margin: 0 auto;
}

.Well {
  display: flex;
  flex-direction: column-reverse;
  gap: map-get($grid-margin, desktop);
  align-items: stretch;
  width: 25vw;
  margin: calc(50vh - 30px) 0 calc(50vh - 1.25vw + 30px) 50%;
  transition: opacity 0.3s ease-in-out;
}

#title, #info {
  position: fixed;
  top: calc(50vh - 30px);
  color: hsl(0, 0%, 65%);
  @include default-text;
}

#title {
  left: map-get($grid-margin, desktop);
}

#info {
  right: map-get($grid-margin, desktop);
  cursor: pointer;
}

#projectDescription {
  @include default-text(xl);
  filter: blur(8px);
  opacity: 0;
  font-family: 'Times New Roman', Times, serif;
  width: 100vw;
  font-weight: 400;
  display: none;
  position: fixed;
  top: 0px;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding: 0 25vw 0 25vw;
  box-sizing: border-box;
  pointer-events: none;
  z-index: 2;
  transition: opacity 0.2s ease-out, filter 0.2s ease-in-out;
  

  p {
    position: relative;
    z-index: 2;
    text-indent: 50%;
  }

  p+p {
    // margin-top: 30px;
    // text-indent: 90px;
  }
}

#overlay {
  position: absolute;
  width: 100vw;
  left: 0; 
  top: 0;
  height: 100vh;
  background: rgba(0,0,0,0.01);
  cursor: pointer;
  z-index: 1;
  pointer-events: auto;
  cursor: zoom-out;
}

@media screen and (max-width: $breakpoint) {
  .Well {
    width: 50vw;
    box-sizing: border-box;
    margin: calc(50vh - map-get($grid-margin, mobile)) auto 50vh auto;
    padding: 0;
    gap: map-get($grid-margin, mobile);
  }

  #title, #info {
  top: map-get($grid-margin, mobile);
  @include default-text(s);
  position: absolute;
  }

  #title {
    left: calc(25vw);
  }

  #info {
    right: calc(25vw);
  }

  // #title {
  //   position: absolute;
  //   top: map-get($grid-margin, mobile);
  //   left: 0;
  //   width: 100%;
  //   font-size: 8.1vw;
  //   line-height: .65;
  //   background-color: $backgroundColor;
  //   text-align: center;
  //   font-family: 'Times New Roman', Times, serif;
  //   font-weight: 400;
  //   z-index: 10;
  // }

  // #info {
  //   opacity: 0;
  //   top: auto;
  //   bottom: map-get($grid-margin, mobile);
  //   left: 0;
  //   width: 100%;
  //   font-size: 7.3vw;
  //   line-height: .7;
  //   background-color: $backgroundColor;
  //   text-align: center;
  //   font-family: 'Times New Roman', Times, serif;
  //   font-weight: 400;
  //   z-index: 10;
  // }

  

  #projectDescription {
    position: absolute;
    top: calc(map-get($grid-margin, mobile) * 2 + 3vw);
    @include default-text(m);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    height: 100%;
    flex-direction: column;
    justify-content: start;
  }

  #overlay {
    position: fixed;
    top: 0;
  }
}