$grid-margin: (
  desktop: 30px,
  mobile:  10px
);

#root {
  margin: 0 auto;
}

.Well {
  display: flex;
  flex-direction: column-reverse;
  gap: map-get($grid-margin, desktop);
  align-items: stretch;
  width: 25vw;
  margin: calc(50vh - 30px) 0 calc(50vh - 1.25vw + 30px) 50%;
}

#title, #info {
  position: fixed;
  top: calc(50vh - 30px);
  color: hsl(0, 0%, 65%);
  @include default-text;
}

#title {
  left: map-get($grid-margin, desktop);
}

#info {
  right: map-get($grid-margin, desktop);
  cursor: pointer;
}

#projectDescription {
  @include default-text(l);
  font-family: 'Times New Roman', Times, serif;
  // columns: 4;
  // text-align: left;
  width: 100vw;
  // left: 25vw;
  font-weight: 400;
  display: none;
  // position: fixed;
  position: fixed;
  top: 10px;
  left: 0;
  padding: 0 50vw 0 25vw;
  box-sizing: border-box;
  // width: calc(100vw - 60px);
  // font-size: 3vw;
  // mix-blend-mode: difference;
  pointer-events: none;
  z-index: 2;

  p {
    position: relative;
    z-index: 2;
  }

  p+p {
    margin-top: 30px;
  }
}

#overlay {
  position: absolute;
  width: 100vw;
  left: 0; 
  top: 0;
  height: 100vh;
  background: rgba(0,0,0,0.01);
  cursor: pointer;
  z-index: 1;
  pointer-events: auto;
  cursor: zoom-out;
}

@media screen and (max-width: 800px) {
  .Well {
    width: calc(55%);
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
  }

  #title, #info {
  top: calc(50vh - 30px);
  @include default-text(s);
}

#title {
  left: map-get($grid-margin, mobile);
}

#info {
  right: map-get($grid-margin, mobile);
}
}