.Secret {
    @include default-text;
    display: inline-block;
    
    &.xl {
        font-size: 2.5vw;
    }
    &.l {
        font-size: 1.9vw;
    }
    &.s {
        font-size: 0.8vw;
        letter-spacing: .03vw;
    }
}

.ListSecrets {
    position: relative;
    display: flex;
  flex-direction: column-reverse;
  gap: 30px;
  align-items: stretch;
}

.ListSecrets::after {
    content: '';
    position: absolute;
    top: -2vw;
    left: 0;
    display: block;
    width: 100%;
    height: calc(100% + 3vw);
    background: linear-gradient(to bottom,rgba(13,13,13,0), rgba(13,13,13,.8));
}