@use "sass:map";

.Secret {
    @include default-text;
    display: inline-block;
    
    &.xl {
        @include default-text(xl);
    }
    &.l {
        @include default-text(l);
    }
    &.s {
        @include default-text(s);
    }
}

.ListSecrets {
    position: relative;
    display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: stretch;
}

.ListSecrets::after {
    content: '';
    position: absolute;
    top: -2vw;
    left: 0;
    display: block;
    width: 100%;
    height: calc(100% + 3vw);
    background: linear-gradient(to bottom,rgba(13,13,13,0), rgba(13,13,13,.8));
}

@media screen and (max-width: 800px){
    .ListSecrets {
        gap: map.get($grid-margin, mobile);
    }
}