#secretListener {
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    font: inherit;
    resize: none;
    background: none;
    appearance: none;
    border: none;
    width: 100%;
    overflow: hidden; 
    
}

form {
 display: flex;
 justify-content: stretch;
 order: 1;
 align-items: flex-start;
 gap: 5vw;
 position: relative;
}

#secretListener::placeholder, #secretListener {
    @include default-text;
    
}

#secretListener::placeholder {
    opacity: .5;
}

#submitButton {
    display: none;
}

#secretListener::selection {
background: white;
color: $backgroundColor;
opacity: 1;
}

.message {
    position: fixed;
    // @include default-text(xl);
    // text-transform: uppercase;
    font-size: 9.6vw;
    line-height: .75;
    width: 100vw;
    z-index: 20;
    left: 0;
    top: 0vh;
    // transform: translateY(-105%);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out, filter 0.7s ease-in-out;
    mix-blend-mode: difference;
    // font-size: 5.8vw;
    // text-transform: uppercase;
    // font-family: Arial, Helvetica, sans-serif;
    // font-weight: 600;
    filter: blur(15px);

    &.is-active {
        opacity: 1;
        filter: blur(0px);
    }
}

#submitButton {
        display: inline;
        background: none;
        cursor: pointer;
        border: 0;
        outline: 0;
        padding: 0;
        @include default-text(m);
        transition: opacity 0.15s ease-out, filter 0.25s ease-in-out;
        position: absolute;
        right: 0;
        transform: translateX(calc(100% + map-get($grid-margin, desktop)));
        z-index: 20;
        filter: blur(0px);

        &:disabled {
        cursor: not-allowed;
        opacity: 0;
        filter: blur(7px);
  }
    }

@media screen and (max-width: $breakpoint) {
    #secretListener::placeholder, #secretListener {
    @include default-text(s);
    }

    form {
        flex-direction: column;
        align-items: flex-start;
        gap: map-get($grid-margin, mobile);
    }

    #submitButton {
        @include default-text(s);
        position: static;
        right: unset;
        left: 0;
        transform: none;
    }

    .message {
        position: absolute;
        top: calc(map-get($grid-margin, mobile) * 2 + 2vw);
        transform: 0;
        font-size: 16vw;
        letter-spacing: .2vw;
    }
}