#secretListener {
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    font: inherit;
    resize: none;
    background: none;
    appearance: none;
    border: none;
    width: 100%;
    overflow: hidden; 
    
}

form {
 display: flex;
 justify-content: stretch;
 order: 1;
 align-items: flex-start;
 gap: 5vw;
}

#secretListener::placeholder, #secretListener {
    @include default-text;
    
}

#secretListener::placeholder {
    opacity: .5;
}

#submitButton {
    display: none;
}

#secretListener::selection {
background: white;
color: $backgroundColor;
opacity: 1;
}

@media screen and (max-width: $breakpoint) {
    #secretListener::placeholder, #secretListener {
    @include default-text(s);
    }

    #submitButton {
        display: inline;
        background: none;
        border: 0;
        outline: 0;
        padding: 0;
        @include default-text(s);
    }
}