#secretListener {
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    font: inherit;
    resize: none;
    background: none;
    appearance: none;
    border: none;
    width: 100%;
    overflow: hidden; 
    
}

form {
 display: flex;
 justify-content: stretch;
 order: 1;
}

#secretListener::placeholder, #secretListener {
    @include default-text;
    
}

#secretListener::placeholder {
    opacity: .5;
}