@use "./variables" as *;
@use "sass:map";

$font-sizes: (
  desktop: (s: 0.9vw,  m: 1.2vw, l: 1.75vw, xl: 2.5vw),
  mobile:  (s: 2.7vw,   m: 3.6vw,   l: 4.5vw,   xl: 4.5vw)
);

@mixin default-text($variant: m) {
  @if $variant == s {
    letter-spacing: .03vw;
  }
  font-size: map.get(map.get($font-sizes, desktop), $variant);
  font-family: Arial, sans-serif;
  line-height: 1.05;
  text-align: justify;
  font-weight: 600;
  color: $color;

  &::first-letter {
    // color: white;
  }

  @media screen and (max-width: $breakpoint) {
    font-size: map.get(map.get($font-sizes, mobile), $variant);
    line-height: 1.1;
}
  
}

